@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: #1a3a6c; ;
    color:#ffffff;;
    height: 50px;
    position: relative;
   
    .btn-logout {
        color: #ffffff;
        background-color: #2d5296;
        line-height: 50px;
        height: 50px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
            transition: background-color 0.3s ease;
        }
        i {
            font-size: $base-size + 1px;
        }
    }
}

